

<h2> List of Categories </h2>

<% for category in @categories %>
  <p>
   <%= category.category %>
   <%= link_to("Show", category_path(category)) %>
   <%= link_to('Edit', edit_category_path(category)) %>
  </p>
 <% end %>

